<tr>
  <td>
    <%= image_tag product.image.thumb.url %>
  </td>
  <td>
    <h3><%= product.name %></h3>
    <br>
    <%= product.description %>
  </td>
  <td>
    <%= humanized_money_with_symbol item.item_price_cents / 100 %>
  </td>
  <td>
    <%= item.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol (item.total_price_cents * item.quantity) /100 %>
  </td>
</tr>
